/* ================================ */
/* GENERAL CSS */
/* ================================ */
* {
  box-sizing: border-box;
  margin: 0;
}
strong {
  color: #4b9b4b;
}
html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  min-height: 100vh;
  overflow: auto;
}

/* ================================ */
/* UTILITY Classes CSS */
/* ================================ */
.section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.section .title {
  text-align: center;
  font-size: 3rem;
}
.wrapper {
  margin: 0 auto;
  padding: 0 5rem;
  width: 100%;
  max-width: 1200px;
}
.button {
  cursor: pointer;
  color: #4b9b4b;
  background-color: #e7f4e7;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.6rem;
}
.button-red {
  color: #d45a3a;
}
.margin-top-large {
  margin-top: 5rem;
}
.margin-top-small {
  margin-top: 1.5rem;
}

.display-none {
  display: none !important;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #e7f4e7;
  border-radius: inherit;
}
.loader img {
  max-width: 5rem;
}
.loader .heading {
  font-size: 2rem;
}

@media (max-width: 400px) {
  .section {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .wrapper {
    padding: 0 2.5rem;
  }
}

/* ================================ */
/* NAVBAR CSS */
/* ================================ */
#navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(5px);
  background-color: rgba(245, 245, 245, 0.514);
  padding: 2rem 0;
}
#navbar .wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
#navbar .logo-link {
  max-width: 15rem;
  display: block;
}
#navbar .logo-link img {
  width: 100%;
  height: auto;
}

@media (max-width: 350px) {
  #navbar .wrapper {
    justify-content: center;
  }
  #navbar .button {
    display: none;
  }
}

/* ================================ */
/* CARD CSS */
/* ================================ */
.card-container {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}
.card {
  padding: 5rem;
  position: relative;
  flex: 1 1 calc(50% - 5rem);
  border-radius: 1rem;
}
.flex-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}
.card.active {
  background-color: #e7f4e7;
}
.card.secondary {
  background-color: #f7f7f7;
}
.card header .heading {
  font-size: 2rem;
}
.card header.header-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.card header .subheading {
  font-size: 1.6rem;
  color: gray;
}
.card header img {
  max-width: 100%;
}
.card .description {
  font-size: 1.8rem;
  text-align: justify;
}
.description.text-center {
  text-align: center;
}
.card .details {
  text-align: justify;
  font-size: 1.8rem;
  word-break: break-word;
}
.card .details h3 {
  margin-top: 18px;
  margin-bottom: 6px;
  font-size: 16px;
}

.card .details p,
.card .details ul {
  font-size: 14px;
  color: #333;
  margin: 4px 0 12px;
}

.card .details ul {
  padding-left: 18px;
}

@media (max-width: 700px) {
  .card-container {
    gap: 3rem;
  }
  .card {
    padding: 3rem;
    flex: 1 1 100%;
  }
}

/* ================================ */
/* TRASH BINS CSS */
/* ================================ */
.trash-bin-card {
  display: flex;
  gap: 2rem;
  flex: 1 1 calc(50% - 5rem);
}

.trash-bin-card img.trash-bin {
  width: 5rem;
}
.trash-bin-card h3.trash-type {
  font-size: 1.8rem;
}

@media (max-width: 700px) {
  .trash-bin-card {
    flex: 1 1 100%;
  }
}

/* ================================ */
/* PLAYGROUND CSS */
/* ================================ */
.choose-photo {
  position: relative;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.choose-photo > header {
  cursor: pointer;
}

.choose-photo input {
  display: none;
}

.choose-photo .photo-preview {
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}

.choose-photo .actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.classified-bins {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.classified-bins .image-wrapper {
  position: relative;
  margin: 0 auto;
}

.classified-bins .image-wrapper .bin-image {
  width: 15rem;
}

.classified-bins .image-wrapper .checked-image {
  position: absolute;
  bottom: -10%;
  right: 5%;
}

.classified-bins .image-wrapper h3 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .choose-photo {
    max-width: none;
  }
}

/* ================================ */
/* DIVIDER CSS */
/* ================================ */
#divider {
  margin: 0 auto;
  max-width: 25rem;
  height: 0.5rem;
  background-color: #4b9b4b;
  border-radius: 1rem;
  border: none;
}

@media (max-width: 400px) {
  #divider {
    max-width: 15rem;
  }
}

/* ================================ */
/* CIRCLE CSS */
/* ================================ */
.circle {
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  width: 65%;
  aspect-ratio: 1/1;
}

/* ================================ */
/* CHIP CSS */
/* ================================ */
.chip {
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5rem;
  color: white;
  font-size: 2rem;
  width: fit-content;
  text-align: center;
}

/* ================================ */
/* FOOTER CSS */
/* ================================ */
#footer {
  padding: 5rem;
  text-align: center;
  font-size: 2rem;
  background-color: #4b9b4b;
  color: white;
}

/* ================================ */
/* COLORS CSS */
/* ================================ */
.bg-white {
  background-color: white;
}
.bg-blue {
  background-color: #0d66d0;
}
.bg-green {
  background-color: #3b9734;
}
.bg-yellow {
  background-color: #e3b439;
}
.bg-red {
  background-color: #d45a3a;
}
